<svg viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="icon">
  @switch (name) {
    @case ('dashboard') {
      <path d="M4 13h7V4H4v9Z" />
      <path d="M13 20h7V4h-7v16Z" />
      <path d="M4 20h7v-5H4v5Z" />
    }
    @case ('todo') {
      <path d="M8 6h12" />
      <path d="M8 12h12" />
      <path d="M8 18h12" />
      <path d="m3.5 6 1 1 2-2" />
      <path d="m3.5 12 1 1 2-2" />
      <path d="m3.5 18 1 1 2-2" />
    }
    @case ('note') {
      <path d="M6 3h9l3 3v15H6V3Z" />
      <path d="M14 3v4h4" />
      <path d="M9 12h6" />
      <path d="M9 16h6" />
    }
    @case ('calendar') {
      <path d="M5 4h14v16H5V4Z" />
      <path d="M8 2v4" />
      <path d="M16 2v4" />
      <path d="M5 9h14" />
    }
    @case ('login') {
      <path d="M10 7V5h9v14h-9v-2" />
      <path d="M4 12h10" />
      <path d="m11 8 4 4-4 4" />
    }
    @case ('logout') {
      <path d="M14 7V5H5v14h9v-2" />
      <path d="M10 12h10" />
      <path d="m17 8 4 4-4 4" />
    }
    @case ('plus') {
      <path d="M12 5v14" />
      <path d="M5 12h14" />
    }
    @case ('trash') {
      <path d="M5 7h14" />
      <path d="M9 7V5h6v2" />
      <path d="M7 7l1 13h8l1-13" />
      <path d="M10 11v5" />
      <path d="M14 11v5" />
    }
    @case ('check') {
      <path d="m5 12 4 4 10-10" />
    }
    @case ('user') {
      <path d="M12 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z" />
      <path d="M4 21a8 8 0 0 1 16 0" />
    }
  }
</svg>

